---
layout: default
title: Vickie Poynter Blog
published: true
---
            
<div class="home" id ="home">

   <p class="intro" align="center">
        <h2>Homeowner for Homeowners.</h2>
   </p>

   <br>
Thanks for stopping by. This is my personal website. Posts and pages in this site are my personal opinion. Below you will find several blog posts from me.

  <figure>
    <img src="/assets/img/home.jpg" alt="Hunters Pointe Sign and Road" align="middle">
  </figure>

</div>


<div id="blogs">

  <h3>Recent Posts</h3>
  <ul class="posts noList">
    {% for post in site.posts %}
      <li>
        <span class="date">{{ post.date | date_to_string }}</span>
        <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
        <p class="description">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncate: 120 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>

  <p>
      Thats all. Help someone if you find anything helpful here.
  </p>

  {% include contact.html %}
</div>