   <div class="container" align="center">
      <div class="contactcard">
         <br>
           <p>Would you like to get in touch? Shoot me an email at poynterv@sbcglobal.net </p>

           <form method="post" action="https://forms.un-static.com/forms/5308fe937db310b0d1ea9ba391f386ef35f30ad0">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="full-width"><br>
            <label for="email">Email Address</label>
            <input type="email" id="email" name="_replyto" class="full-width"><br>
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" class="full-width"></textarea><br>
            <input type="submit" value="Send" class="button">
          </form> 
      </div>
   </div>
